@font-face {
  font-family: 'Dark Euphorigenic';
  src: url('./fonts/DarkEuphorigenic.ttf');
}


body {
  background-color: #181a1b;
  color: #bcbbb9;
}

main {
  margin-top: 10px;
}

.preload * {
  transition: none !important;
}


main a:link { color: #4fb0ff; }
main a:visited { color: #ae98f2; }
input:focus { background: #ffe; }
header img { width: 100%; }
/* header a:hover { text-shadow: 0px 0px 14px #00daff; } */

header {
  margin: -8px;
  background-color: black;
  display: grid;
}

.menu-dropdown a {
  width: 100%;
}

.menu-dropdown-submenu a {
  background-color: #49494947;
}

.menu-dropdown-submenu a:last-child {
  border-radius: 0px 0px 20px 20px;
}

.menu-dropdown-submenu {
  position: absolute;
  border-radius: 0px 0px 20px 20px;
  padding-top: 1.2%;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.menu-dropdown:hover > .menu-dropdown-submenu {
  opacity: 1;
  pointer-events: auto;
}

header a, .menu-dropdown {
  display: inline-block;
  width: 19.5%;
  font-family: 'Dark Euphorigenic', serif;
  font-size: 28px;
  color: #bab9bb;
  text-decoration: none;
  transition: text-shadow 0.3s ease;
}

#opVideo {
  display: block;
  margin: auto;
  width: 720px;
  height: 405px;
}

#gameList {
  display: table;
  margin: auto;
  padding-bottom: 10px;
}

header a:hover{
  text-shadow: 0px 0px 14px #00daff;
  cursor: pointer;
}

#gameList > li { transition: text-shadow 0.3s ease; }

#buttonPlay {
  width: 200px;
  height: 60px;
  display: block;
  margin: auto;
  font-size: 24px;
  color: #bab9bb;
  background-color: #181a1b;
  border-color: #5d5d5d;
}

img[alt="RAS"] {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 31%;
  z-index: -2;
}

footer {
  position: relative;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

#latin {
  display: block;
  margin-left: 32%;
  margin-right: 32%;
  text-align: justify;
  text-indent: 2.5em;
}

header > section {
  width: 100%;
  text-align: center;
}

.resultDiv {
  display: inline;
}